<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watchable</title>
</head>

<body>
    <h1>Movies to watch</h1>
    <h2>This collection belongs to {{name}}</h2>
    <h3>Movies: {{movies}}</h3>
    <h3>First: {{movies[0]}}</h3>
    <h3>Slicing1: {{movies[1:5]}}</h3>
    <h3>Slicing: {{movies[-2]}}</h3>
    <h3>Last: {{movies[-1]}}</h3>

    <hr>
    <ul>
        {% for titles in movies %}
            <li> The movie is: {{titles}}</li>
        {% endfor %}
    </ul>

</body>
</html>